
* {

}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');
/*
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;
*/
body{
    margin:0;
	padding-left:4%;
	padding-right:4%;
}


#header1{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
#cssmenu{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    color:#333333 ;
}
span{
    padding-right:0px;
}
#granTitulo{
    font-family: 'Playfair Display', serif;
    font-size: 43px;
}
.linkNegro{
    font-family: 'Work Sans', sans-serif;
    padding-top: 25px;
    font-weight: 600;
}
.textoDescuento{
    font-family: 'Lora', serif;
    color: #529F0F;
    font-size: 40px;
}
#headEnd{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    color:#333333 ;
}
#vacio1{
    width: 50%;
}
.vacio{
    width: 3%;
}
#USD{
    display: flex;

}
#flecha{
    display: flex;
    }

    #carrito{
        display: flex;
    }

    /*Cuerpo*/
#cuerpo{
    display: flex;
    flex-direction: column;

}
div#presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin: 0;
    padding: 0;
    
}
img.fondo{
    max-width: 100%;
	height: 100%;
    position: relative;
}
div#granTexto{
    position: absolute;
    z-index: 1;
}
div#descuentosTemporada{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: center;

}
.linkNegro1{
    color: #575757;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}
img.descuentos{
    max-width: 100%;
    position: relative;
}
div#textoInt{
    position: absolute;
    z-index: 1;
    margin-top:-13%;
    margin-left: 2.5%;
}
div#ultimosProductos{
    padding-top: 6%;
    padding-bottom: 6%;
    margin: 0%;
    background-image:url(img/bg-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
div.Titulo{
    text-align:center ;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}
div.ParrafoSec{
    text-align:center ;
    font-family: 'Playfair Display', serif;
}
.latest{
    font-family: 'Work Sans', sans-serif;
    color:gray;
    font-weight: 600;
    font-size: 18px;
    padding-top: 15px;
}
.p1{
    font-family: 'Work Sans', sans-serif;
    color:black;
    margin-top: 15px;
    float: left;
    display: inline-block;
}
.p2{
    font-family: 'Work Sans', sans-serif;
    color:gray;
    margin-top: 15px;

    float: left;
    display: inline-block;
}
.p1,.p2{
    font-weight: 600;
}
.pNEGRO{
    font-family: 'Work Sans', sans-serif;
    color:#575757;
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
}
.cursivaP{
    font-family: 'Work Sans', italic;
    color:gray ;
    font-weight: 600;
    font-size: 13px;
    margin-top: 15px;
}
#cursiva p{
    text-align:center ;
    font-family: 'Playfair Display', italic;
    font-size: 20px;
    color:#575757 ;
    font-weight: 500;
}
.newP{
    font-family: 'Work Sans', sans-serif;
    color:gray;
    font-weight: 500;
    font-size: 15px;
    
}
.p11{
    font-family: 'Work Sans', sans-serif;
    color:black;
    font-weight: 500;
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
}
.p22{
    font-family: 'Work Sans', sans-serif;
    color:gray;
    font-weight: 500;
    display: inline-block;
    font-size: 12px;
}
/*POSICIONES Y ESPACIADO GRILLA*/
div#grilla1{
    margin:0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 22% 3% 22% 3% 22% 3% 22%;
    grid-template-rows: 60% 40% ;
    justify-content: space-around;

}
img .uno{
    grid-column: 1;
    grid-row: 1;
    max-height: 100%;
}
div.vacio11{
    grid-column: 2;
    grid-row: 1;

}
img .dos{
    grid-column: 3;
    grid-row: 1;
    max-height: 100%;
}
div.vacio12{
    grid-column: 4;
    grid-row: 1;
}

img .tres{
    grid-column: 5;
    grid-row: 1;
    max-height: 100%;
}
div.vacio13{
    grid-column: 6;
    grid-row: 1;
}
img .cuatro{
    grid-column: 7;
    grid-row: 1;
    max-height: 100%;
}
div.textoGrilla1{
    grid-row: 2;
    grid-column: 1;
    text-align: left;
    display: inline-block
}
div.vacio21{
    grid-column: 2;
    grid-row: 2;}

div.textoGrilla2{
    grid-row: 2;
    grid-column: 3;
    text-align: left;
}
div.vacio22{
    grid-column: 4;
    grid-row: 2;}

div.textoGrilla3{
    grid-row: 2;
    grid-column: 5;
    text-align: left;
}
div.vacio23{
    grid-column: 6;
    grid-row: 2;}

div.textoGrilla4{
    grid-row: 2;
    grid-column: 7;
    text-align: left;
}

div#grilla img{  object-fit: cover;
    width:100%;
    height:100%;}


#grilla1 img{
    object-fit: cover;
    width:100%;
    height:100%;
    padding: 0%;
    margin:0%
}
#testimonio{
    display:flex;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    justify-content:center;
    align-items: center;
}
img.testi{
    width: auto;
    height: auto;
    
}
div#nuevos{
    background:rgb(243, 243, 243);
    margin:0%;
    padding:0%;
}
div#nuevos div.classic-container{
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div#grilla2{
    margin-top:3%;
    display: grid;
    grid-template-columns: 22% 3% 22% 3% 22% 3% 22%;
    grid-template-rows: 40% 10% 40% 10%;
    
}
img .g2f1i1{
    grid-column: 1;
    grid-row: 1;
}
div.g2f1v1{
    grid-column: 2;
    grid-row: 1;

}
img .g2f1i2{
    grid-column: 3;
    grid-row: 1;
    max-height: 100%;
}
div.g2f1v2{
    grid-column: 4;
    grid-row: 1;
}

img .g2f1i3{
    grid-column: 5;
    grid-row: 1;
    max-height: 100%;
}
div.g2f1v3{
    grid-column: 6;
    grid-row: 1;
}
img .g2f1i4{
    grid-column: 7;
    grid-row: 1;
    max-height: 100%;
}
div.g2f2t1{
    grid-row: 2;
    grid-column: 1;
    text-align: left;
}
div.g2f2v1{
    grid-column: 2;
    grid-row: 2;}

div.g2f2t2{
    grid-row: 2;
    grid-column: 3;
    text-align: left;
}
div.g2f2v2{
    grid-column: 4;
    grid-row: 2;}

div.g2f2t3{
    grid-row: 2;
    grid-column: 5;
    text-align: left;
}
div.g2f2v3{
    grid-column: 6;
    grid-row: 2;}

div.g2f2t4{
    grid-row: 2;
    grid-column: 7;
    text-align: left;
}

img .g2f3i1{
    grid-column: 1;
    grid-row: 3;
    max-height: 100%;
}
div.g2f3v1{
    grid-column: 2;
    grid-row: 3;

}
img .g2f3i2{
    grid-column: 3;
    grid-row: 3;
    max-height: 100%;
}
div.g2f3v2{
    grid-column: 4;
    grid-row: 3;
}

img .g2f3i3{
    grid-column: 5;
    grid-row: 3;
    max-height: 100%;
}
div.g2f3v3{
    grid-column: 6;
    grid-row: 3;
}
img .g2f3i4{
    grid-column: 7;
    grid-row: 3;
    max-height: 100%;
}
div.g2f4t1{
    grid-row: 4;
    grid-column: 1;
    text-align: left;
}
div.vacio{
    grid-column: 2;
    grid-row: 4;}

div.g2f4t2{
    grid-row: 4;
    grid-column: 3;
    text-align: left;
}
div.vacio{
    grid-column: 4;
    grid-row: 4;}

div.g2f4t3{
    grid-row: 4;
    grid-column: 5;
    text-align: left;
}
div.vacio{
    grid-column: 6;
    grid-row: 4;}

div.g2f4t4{
    grid-row: 4;
    grid-column: 7;
    text-align: left;
}
div#grilla2 img{
    object-fit: cover;
    width:100%;
    height:100%;}
/*fin grilla*/
div#join{
    background-image:url(img/bg-2.jpg);
    max-width: 100%;
}
div#join div.classic-container{
    padding-top: 8%;
    padding-bottom: 8%;
}
div#inscripcion{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div#introducir{
    display: flex;
    width: 20%;
    text-align: left;
    padding-left:1%;
    box-shadow: inset 0 0 0 1px gray;
}
div#boton{
    width: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    border-style: solid; border-width: 1px;
    border-color:black
}
#boton p{
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#introducir p{
    color: gray;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*news*/
.news .Titulo{
    padding-top: 90px;
    border-bottom: solid 0.5px;
    width: 195px;
    margin: auto;
}
.blog{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 75%;
    margin: auto;
    padding-top: 60px;
}
.lat{
    width: 30%;
}
.fecha{
    color:#529F0F;
    border-bottom: solid 0.5px;
    font-weight: 700;
    font-size: 18px;
}
#certificados{
    padding-top: 90px;
    padding-bottom: 90px;
    width: 75%;
    margin: auto;
}
.tituloN{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    padding-top: 15px;
    color: #333333;
}
.lat p{
    width: 100%;
    font-family: 'Lora', serif;
    color: #575757;
    font-size: 18px;
    margin: auto;
    padding-bottom: 30px;
}
.read{
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #575757;
    border-bottom:solid 0.5px;
    
}
#boton p{
    color: white;
}

div.classic-container{
    padding: 0%;
    margin:0%
}
div#certificados div.classic-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.news{
    background-image: url("img/bg-1.jpg");
    margin-top:0px;
}
.blog{
    display: flex;
    flex-direction: row;
}
footer{
display: flex;
flex-direction: column;
align-content: space-between;
justify-content: space-between;
}
table{
    font-family: 'Playfair Display', serif;
    text-align:left ;
    background-color: rgb(248, 248, 248);
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 75px;
    padding-left: 180px; 
     
}
th{
    color:#333333;
    font-size: 20px;
    font-weight: 500;
}
td{
    color: #575757;
    font-size: 15px;
    font-weight: 500;
}
th, td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 90px;
    
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(235,235,235);
}
.final{
    max-width: 100%; height: auto;
}
